In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("gyr_constraints.csv")
df

,id,creator_id,project_id,constraint,status,comments,previous_status,created_at,updated_at
0,1,2,1,overall,green,NaN,NaN,2021-11-23 05:04:23,2021-11-23 05:04:23
1,2,2,1,scope,green,NaN,NaN,2021-11-23 05:04:23,2021-11-23 05:04:23
2,3,2,1,budget,green,NaN,NaN,2021-11-23 05:04:23,2021-11-23 05:04:23
3,4,2,1,schedule,green,NaN,NaN,2021-11-23 05:04:23,2021-11-23 05:04:23
4,5,2,2,overall,green,NaN,NaN,2021-11-23 05:07:29,2021-11-23 05:07:29
...,...,...,...,...,...,...,...,...,...
994,1155,2,230,schedule,green,NaN,NaN,2024-01-30 15:19:34,2024-01-30 15:19:34
995,1156,2,231,overall,green,NaN,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
996,1157,2,231,scope,green,NaN,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
997,1158,2,231,budget,green,NaN,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28
998,1159,2,231,schedule,green,NaN,NaN,2024-01-30 15:24:28,2024-01-30 15:24:28

In [3]:
unique_statuses = df['status'].unique()
print(unique_statuses)

['green' 'yellow' 'red']

In [4]:
status_mapping = {'green': 1, 'yellow': 2, 'red': 3}

# Create a new column with numeric values
df['num_status'] = df['status'].map(status_mapping)

# Display the updated DataFrame
print(df)

       id  creator_id  project_id constraint status comments previous_status  \
0       1           2           1    overall  green      NaN             NaN
1       2           2           1      scope  green      NaN             NaN
2       3           2           1     budget  green      NaN             NaN
3       4           2           1   schedule  green      NaN             NaN
4       5           2           2    overall  green      NaN             NaN
..    ...         ...         ...        ...    ...      ...             ...
994  1155           2         230   schedule  green      NaN             NaN
995  1156           2         231    overall  green      NaN             NaN
996  1157           2         231      scope  green      NaN             NaN
997  1158           2         231     budget  green      NaN             NaN
998  1159           2         231   schedule  green      NaN             NaN

              created_at           updated_at  num_status
0    2021-11-23 05:04:23  2021-11-23 05:04:23           1
1    2021-11-23 05:04:23  2021-11-23 05:04:23           1
2    2021-11-23 05:04:23  2021-11-23 05:04:23           1
3    2021-11-23 05:04:23  2021-11-23 05:04:23           1
4    2021-11-23 05:07:29  2021-11-23 05:07:29           1
..                   ...                  ...         ...
994  2024-01-30 15:19:34  2024-01-30 15:19:34           1
995  2024-01-30 15:24:28  2024-01-30 15:24:28           1
996  2024-01-30 15:24:28  2024-01-30 15:24:28           1
997  2024-01-30 15:24:28  2024-01-30 15:24:28           1
998  2024-01-30 15:24:28  2024-01-30 15:24:28           1

[999 rows x 10 columns]

In [5]:
status_counts = df['num_status'].value_counts()
print(status_counts)

1    840
2     97
3     62
Name: num_status, dtype: int64

In [6]:
# Save the DataFrame to a CSV file
df.to_csv('update_gyr_constraints.csv', index=False)

print("CSV file saved as 'updated_status.csv'.")

CSV file saved as 'updated_status.csv'.

In [7]:
df2 = pd.read_csv("milestones.csv")
df2

,id,project_id,creator_id,description,gyr_status,plan_date,created_at,updated_at
0,1,4,2,milestone one,complete,2021-12-01,2021-11-30 04:23:12,2021-11-30 04:30:38
1,2,4,2,milestone two,green,2021-12-08,2021-11-30 04:23:27,2022-03-23 12:06:27
2,3,4,2,milestone three,red,2022-03-11,2021-11-30 04:29:11,2022-03-09 12:43:33
3,4,4,2,milestone four,green,2022-04-08,2021-11-30 04:29:44,2022-03-09 12:43:50
4,5,4,2,milestone 2.2,complete,2021-12-09,2021-11-30 04:30:13,2022-02-28 13:42:36
...,...,...,...,...,...,...,...,...
371,476,230,2,Roof Complete and Shed Complete,green,2024-05-27,2024-01-30 15:19:34,2024-01-30 15:19:34
372,477,231,2,Materials obtained,green,2024-05-04,2024-01-30 15:24:28,2024-01-30 15:24:28
373,478,231,2,Foundation complete,green,2024-05-08,2024-01-30 15:24:28,2024-01-30 15:24:28
374,479,231,2,Wall Installation Complete,green,2024-05-15,2024-01-30 15:24:28,2024-01-30 15:24:28
375,480,231,2,Roof Complete and Shed Complete,green,2024-05-27,2024-01-30 15:24:28,2024-01-30 15:24:28

In [10]:
unique_statuses = df2['gyr_status'].unique()
print(unique_statuses)

['complete' 'green' 'red' 'yellow']

In [11]:
status_mapping = {'green': 1, 'yellow': 2, 'red': 3, 'complete': 4}

# Create a new column with numeric values
df2['num_gyr_status'] = df2['gyr_status'].map(status_mapping)

# Display the updated DataFrame
print(df2)

      id  project_id  creator_id                      description gyr_status  \
0      1           4           2                    milestone one   complete
1      2           4           2                    milestone two      green
2      3           4           2                  milestone three        red
3      4           4           2                   milestone four      green
4      5           4           2                    milestone 2.2   complete
..   ...         ...         ...                              ...        ...
371  476         230           2  Roof Complete and Shed Complete      green
372  477         231           2               Materials obtained      green
373  478         231           2              Foundation complete      green
374  479         231           2       Wall Installation Complete      green
375  480         231           2  Roof Complete and Shed Complete      green

      plan_date           created_at           updated_at  num_gyr_status
0    2021-12-01  2021-11-30 04:23:12  2021-11-30 04:30:38               4
1    2021-12-08  2021-11-30 04:23:27  2022-03-23 12:06:27               1
2    2022-03-11  2021-11-30 04:29:11  2022-03-09 12:43:33               3
3    2022-04-08  2021-11-30 04:29:44  2022-03-09 12:43:50               1
4    2021-12-09  2021-11-30 04:30:13  2022-02-28 13:42:36               4
..          ...                  ...                  ...             ...
371  2024-05-27  2024-01-30 15:19:34  2024-01-30 15:19:34               1
372  2024-05-04  2024-01-30 15:24:28  2024-01-30 15:24:28               1
373  2024-05-08  2024-01-30 15:24:28  2024-01-30 15:24:28               1
374  2024-05-15  2024-01-30 15:24:28  2024-01-30 15:24:28               1
375  2024-05-27  2024-01-30 15:24:28  2024-01-30 15:24:28               1

[376 rows x 9 columns]

In [13]:
status_counts = df2['num_gyr_status'].value_counts()
print(status_counts)

1    350
4     14
2     11
3      1
Name: num_gyr_status, dtype: int64

In [14]:
# Save the DataFrame to a CSV file
df2.to_csv('update_milestones.csv', index=False)

print("CSV file saved as 'updated_status.csv'.")

CSV file saved as 'updated_status.csv'.

In [15]:
df3 = pd.read_csv("snapshots.csv")
df3

,id,project_id,date,overall_gyr_status,open_issues_count,past_due_actions_count,open_risks_count,open_ranked_risks_count,active_changes_count,created_at,updated_at
0,1,1,2021-11-23,green,0,0,0,0,0,2021-11-23 23:00:05,2021-11-23 23:00:05
1,2,2,2021-11-23,green,0,0,0,0,0,2021-11-23 23:00:05,2021-11-23 23:00:05
2,3,3,2021-11-23,green,0,0,0,0,0,2021-11-23 23:00:05,2021-11-23 23:00:05
3,4,1,2021-11-24,green,0,0,0,0,0,2021-11-24 23:00:04,2021-11-24 23:00:04
4,5,2,2021-11-24,green,0,0,0,0,0,2021-11-24 23:00:05,2021-11-24 23:00:05
...,...,...,...,...,...,...,...,...,...,...,...
15262,15263,135,2024-01-30,green,65,65,25,10,0,2024-01-30 23:00:14,2024-01-30 23:00:14
15263,15264,202,2024-01-30,green,0,0,0,0,0,2024-01-30 23:00:14,2024-01-30 23:00:14
15264,15265,229,2024-01-30,green,0,0,0,0,0,2024-01-30 23:00:14,2024-01-30 23:00:14
15265,15266,230,2024-01-30,green,0,0,3,0,0,2024-01-30 23:00:15,2024-01-30 23:00:15
15266,15267,231,2024-01-30,green,0,0,3,0,0,2024-01-30 23:00:15,2024-01-30 23:00:15

In [16]:
unique_statuses = df3['overall_gyr_status'].unique()
print(unique_statuses)

['green' 'yellow' 'red']

In [17]:
status_mapping = {'green': 1, 'yellow': 2, 'red': 3}

# Create a new column with numeric values
df3['num_overall_gyr_status'] = df3['overall_gyr_status'].map(status_mapping)

# Display the updated DataFrame
print(df3)

          id  project_id        date overall_gyr_status  open_issues_count  \
0          1           1  2021-11-23              green                  0
1          2           2  2021-11-23              green                  0
2          3           3  2021-11-23              green                  0
3          4           1  2021-11-24              green                  0
4          5           2  2021-11-24              green                  0
...      ...         ...         ...                ...                ...
15262  15263         135  2024-01-30              green                 65
15263  15264         202  2024-01-30              green                  0
15264  15265         229  2024-01-30              green                  0
15265  15266         230  2024-01-30              green                  0
15266  15267         231  2024-01-30              green                  0

       past_due_actions_count  open_risks_count  open_ranked_risks_count  \
0                           0                 0                        0
1                           0                 0                        0
2                           0                 0                        0
3                           0                 0                        0
4                           0                 0                        0
...                       ...               ...                      ...
15262                      65                25                       10
15263                       0                 0                        0
15264                       0                 0                        0
15265                       0                 3                        0
15266                       0                 3                        0

       active_changes_count           created_at           updated_at  \
0                         0  2021-11-23 23:00:05  2021-11-23 23:00:05
1                         0  2021-11-23 23:00:05  2021-11-23 23:00:05
2                         0  2021-11-23 23:00:05  2021-11-23 23:00:05
3                         0  2021-11-24 23:00:04  2021-11-24 23:00:04
4                         0  2021-11-24 23:00:05  2021-11-24 23:00:05
...                     ...                  ...                  ...
15262                     0  2024-01-30 23:00:14  2024-01-30 23:00:14
15263                     0  2024-01-30 23:00:14  2024-01-30 23:00:14
15264                     0  2024-01-30 23:00:14  2024-01-30 23:00:14
15265                     0  2024-01-30 23:00:15  2024-01-30 23:00:15
15266                     0  2024-01-30 23:00:15  2024-01-30 23:00:15

       num_overall_gyr_status
0                           1
1                           1
2                           1
3                           1
4                           1
...                       ...
15262                       1
15263                       1
15264                       1
15265                       1
15266                       1

[15267 rows x 12 columns]

In [18]:
status_counts = df3['num_overall_gyr_status'].value_counts()
print(status_counts)

1    11736
2     2595
3      936
Name: num_overall_gyr_status, dtype: int64

In [19]:
# Save the DataFrame to a CSV file
df3.to_csv('update_snapshots.csv', index=False)

print("CSV file saved as 'updated_status.csv'.")

CSV file saved as 'updated_status.csv'.